@font-face {
  font-family: "myfont";
  src: url("./nimbussansdot-boldcond.woff") format("woff");
}
/* Home----------------------- */
* {
  box-sizing: border-box;
}
body {
  font-family: "myfont";
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-right: 120px;
}
.crispy {
  font-size: 25px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-weight: bolder;
  color: black;
  margin-left: 80px;
  position: absolute;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  color: green;
  background-color: white;
  padding-left: 500px;
  display: flex;
}
ul li {
  display: inline-block;
}
ul li a {
  font-size: 18px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  text-decoration: none;
  padding: 5px 10px;
  color: rgba(128, 128, 128, 0.921);
  display: block;
}
ul li a:hover {
  color: rgb(236, 127, 127);
}
/* .head{
        color: red;
       } */
button {
  height: 45px;
  border-radius: 5px;
  width: 170px;
  background-color: #dc3545;
  font-size: 20px;
  border: none;
  color: white;
}
.minbg {
  overflow: hidden;
  height: 85vh;
  width: 100%;
  margin-top: 30px;
  /* min-height: 94vh; */
  padding: 150px;
  color: white;
  padding-left: 100px;
  background: linear-gradient(rgba(107, 98, 98, 0.194), rgba(11, 9, 9, 0.946));
  /* background: url("video.mp4"); */
}
h1 {
  font-size: 60px;
  line-height: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  /* font-weight: 520; */
  font-weight: lighter;
  font-weight: 550;
}
h2 {
  line-height: 50px;
  font-size: 60px;
  font-weight: 550;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
h3 {
  line-height: 0.1;
  font-size: 22px;
  font-weight: bolder;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

p {
  line-height: 0.1;
  font-size: 15px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  position: relative;
}

.comp {
  color: rgb(196, 196, 26);
}
.comp img {
  height: 15px;
  width: 15px;
}
.resize,
img {
  width: 25px;
}

.image-fader {
  width: 800px;
  height: 800px;
}

.image-fader img {
  height: 450px;
  width: 680px;
  position: absolute;
  top: 42px;
  left: 600px;

  animation-name: imagefade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

@keyframes imagefade {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image-fader img:nth-of-type(1) {
  animation-delay: 6s;
}
.image-fader img:nth-of-type(2) {
  animation-delay: 4s;
}
.image-fader img:nth-of-type(3) {
  animation-delay: 2s;
}
.image-fader img:nth-of-type(4) {
  animation-delay: 1s;
}
.flex {
  height: 230vh;
  width: 100%;
  background: rgba(237, 234, 225, 0.123);
  /* margin-bottom: 300px; */
}

.center {
  margin: 0;
  padding: 50px 0;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  padding-top: 120px;
  font-size: 50px;
}
.image {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.image img {
  height: 380px;
  width: 380px;
}
.manage {
  position: relative;
}
.combination {
  display: flex;
}
.combi1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
  padding-top: 10px;
  font-size: 22px;
  padding-left: 40px;
}
.combb {
  padding-left: 10px;
}
.combb img {
  margin-top: 14px;
  height: 16px;
  width: 16px;
}
.combi-1 {
  top: 4px;
  margin-left: 10px;
  font-size: 19px;
  color: gray;
}

.manage1 {
  position: relative;
}
.combi2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
  padding-top: 10px;
  font-size: 22px;
  padding-left: 40px;
}
.combb2 {
  padding-left: 10px;
}
.combb2 img {
  margin-top: 14px;
  height: 16px;
  width: 16px;
}
.combi-2 {
  top: 4px;
  margin-left: 10px;
  font-size: 19px;
  color: gray;
}
.manage2 {
  position: relative;
}
.combi3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
  padding-top: 10px;
  font-size: 22px;
  padding-left: 40px;
}
.combb3 {
  padding-left: 10px;
}
.combb3 img {
  margin-top: 14px;
  height: 16px;
  width: 16px;
}
.combi-3 {
  top: 4px;
  margin-left: 10px;
  font-size: 19px;
  color: gray;
}
.Breakfast {
  margin-top: 20px;
  margin-right: 20px;
  top: 0;
  right: 0;
  height: 30px;
  width: 90px;
  font-size: 14px;
  font-weight: 525;
  display: inline-block;
  position: absolute;
  background-color: rgba(213, 213, 30, 0.863);
}
.save {
  height: 30px;
  width: 60px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.d {
  font-size: 30px;
  margin-top: 30px;
}
.text .b {
  height: 30px;
  width: 40px;
  background-color: white;
}
.bg_color {
  margin-top: 25px;
  padding: 20px 10px;
  background-color: aliceblue;
  border-radius: 20px;
}

.image5 {
  display: flex;
  padding-left: 60px;
}

.manage5 {
  position: relative;
  padding-left: 100px;
  margin-top: 30px;
}
.image5 img {
  height: 380px;
  width: 380px;
}
.text5 {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  gap: 10px;
}
.d5 {
  font-size: 28px;
  margin-top: 40px;
  padding-left: 5px;
  margin-left: 35px;
}

.bg_color5 {
  width: 80px;
  margin-top: 25px;
  padding: 20px 20px;
  background-color: white;
  border-radius: 20px;
}

.combination5 {
  display: flex;
}
.combi5 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;

  padding-top: 10px;
  font-size: 22px;
  padding-left: 40px;
}
.combb5 {
  padding-left: 10px;
}
.combb5 img {
  margin-top: 14px;
  height: 16px;
  width: 16px;
}
.combi-6 {
  top: 4px;
  margin-left: 10px;
  font-size: 19px;
  color: gray;
}

.manage6 {
  position: relative;
  padding-left: 26px;
  margin-top: 30px;
}
.image6 img {
  height: 380px;
  width: 380px;
}
.text5 {
  display: flex;
  /* justify-content: center;
    align-items: center; */
  gap: 10px;
}
.d5 {
  font-size: 28px;
  margin-top: 40px;
  padding-left: 5px;
  margin-left: 40px;
}

.bg_color5 {
  width: 80px;
  margin-top: 25px;
  padding: 20px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.combination5 {
  display: flex;
}
.combi5 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;

  padding-top: 10px;
  font-size: 22px;
  padding-left: 40px;
}
.combb5 {
  padding-left: 10px;
}
.combb5 img {
  margin-top: 14px;
  height: 16px;
  width: 16px;
}
.combi-5 {
  top: 4px;
  margin-left: 10px;
  font-size: 19px;
  color: gray;
}

.manage7 {
  position: relative;
  padding-left: 26px;
  margin-top: 30px;
}
.image6 img {
  height: 380px;
  width: 380px;
}
.text5 {
  display: flex;
  /* justify-content: center;
      align-items: center; */
  gap: 10px;
}
.d5 {
  font-size: 28px;
  margin-top: 40px;
  padding-left: 5px;
  margin-left: 40px;
}

.bg_color7 {
  width: 80px;
  margin-top: 25px;
  padding: 10px 10px;
  background-color: white;
  border-radius: 20px;
}

.combination5 {
  display: flex;
}
.combi5 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;

  padding-top: 10px;
  font-size: 22px;
  padding-left: 40px;
}
.combb5 {
  padding-left: 10px;
}
.combb5 img {
  margin-top: 14px;
  height: 16px;
  width: 16px;
}
.combi-7 {
  top: 4px;
  margin-left: 10px;
  font-size: 19px;
  color: gray;
}

.minbg {
  background-color: red;
  position: relative;
}
.minbg video {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
}
.video-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  /* bottom: 40px; */
  padding: 140px 80px;
}

/* parallax */
.p-one {
  /* margin-top: 100px; */
  padding-top: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.tooplate.com/templates/2129_crispy_kitchen/images/alex-haney-CAhjZmVk5H4-unsplash.jpg");
  overflow: hidden;
}

.parallax-inner {
  position: relative;

  min-height: 200px;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}

/* new */

.new {
  height: 1200px;
  width: 100%;
  background-color: rgb(249, 246, 246);
}
.center1 {
  margin: 0;
  padding: 50px 0;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  padding-top: 120px;
  font-size: 60px;
}

/* image */
.comm {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container a img {
  width: 580px;
  height: 400px;
  margin-left: 20px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.title {
  position: absolute;
}

.button {
  position: absolute;
  top: 105px;
  right: 370px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.button1 {
  text-align: center;
  padding-top: 5px;
  height: 30px;
  width: 80px;
  border-radius: 10px;
  background-color: #dc3545;
  position: absolute;
}
.btn {
  padding-top: 5px;
  padding-left: 10px;
  height: 30px;
  width: 80px;
  background-color: #dc3545;
  position: absolute;
  border-radius: 10px;
  top: 105px;
  right: 320px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.news-title-link {
  position: relative;
  top: 150px;
  right: 70px;
  font-size: 22px;
  color: white;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.come1 {
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: black;
  padding-left: 140px;
}
.come2 {
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: black;
  padding-left: 240px;
}
.content .gray {
  margin-left: 140px;
  margin-bottom: 18px;
}
.gray {
  height: 25px;
  width: 80px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
}
.content1 {
  /* margin-left: 140px; */
  /* margin-bottom: 18px; */
}
.gray1 {
  height: 25px;
  width: 80px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: px;
}
.content_btn {
  display: flex;
  justify-content: space-around;
}
.details-box1 {
}
.detail-box {
  height: 400px;
  width: 580px;
  /* border: 1px solid; */
  position: relative;
}
.detail-box a {
  display: flex;
}
.detail-box img {
  height: 100%;
  width: 100%;
}
.title-box {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.btn-1 {
  display: inline-block;
  padding: 5px 10px;
  height: 30px;
  width: 80px;
  text-align: center;
  background-color: #dc3545;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.promotion {
  width: 90px;
}

.btn-2 {
  font-size: 22px;
  color: white;
  text-decoration: none;
  padding-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.footer {
  margin-top: 140px;
  height: 500px;
  width: 100%;
  background-image: url(https://www.tooplate.com/templates/2129_crispy_kitchen/images/daan-evers-tKN1WXrzQ3s-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.heading {
  font-size: 25px;
  color: white;
  margin-top: 105px;
  margin-left: 80px;
  line-height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.location {
  display: flex;
  margin-left: 80px;
}
.location-1 {
  display: flex;
  margin-left: 50px;
}
.heading-1 {
  font-size: 18px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* padding-left: 8px; */
}
.heading-2 {
  font-size: 15px;
  color: gray;
  padding-left: 26px;
  line-height: 20px;
}
.heading-3 {
  font-size: 15px;
  color: gray;
  line-height: 20px;

  padding-left: 26px;
}
.fa-brands {
  font-weight: 400px;
  color: white;
}

.heading-4 {
  font-size: 15px;
  color: gray;
  padding-left: 26px;
  line-height: 20px;
}
.group {
  margin-left: 50px;
}
.heading-5 {
  font-size: 15px;
  color: gray;
  padding-left: 850px;
  padding-top: 40px;
}

.opacity {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.164), black);

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.last {
  margin-left: 320px;
}
.last1 {
  margin-left: 200px;
}

.right {
  padding-left: 850px;
  margin-top: -100px;
}
.come2 {
  font-size: 18px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 8px;
  line-height: 20px;
}

/* story------------------------------------- */
.minbg1-story {
  background-position: center;
  background-size: cover;
position: relative;
}
.minbg1-story{
  margin-top: 30px;
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.story-linear {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.255), rgba(0, 0, 0, 0.742));
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.kitchen-story {
  font-size: 60px;
  color: white;
  position: absolute;
  top: 150px;
  left: 420px;
}
.kitchen-story1 {
  color: white;
  position: absolute;
  top: 220px;
  left: 480px;
  font-size: 15px;
}

.flex-menu {
  height: 230vh;
  width: 100%;
  background: rgba(237, 234, 225, 0.123);
  /* margin-bottom: 300px; */
}
.center-menu {
  margin: 0;
  padding: 50px 0;
  font-weight: bolder;
  text-align: center;
  padding-top: 120px;
  font-size: 50px;
}

.center1 {
  margin: 0;
  padding: 50px 0;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  padding-top: 120px;
  font-size: 50px;
}

.image-story {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.image-story img {
  height: 380px;
  width: 380px;
}
.manage-story {
  position: relative;
}

.text-story {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.d-story {
  font-size: 30px;
  margin-top: 30px;
}

.d-story1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.d-story2 {
  font-size: 20px;
  font-weight: 50;
}

.radius-story {
  display: flex;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: 630px;
  background-color: rgba(128, 128, 128, 0.041);
  width: 100%;
}
.radius1 img {
  border-radius: 50%;
  margin-top: 110px;
  /* margin-left: 200px; */
  height: 400px;
  width: 400px;
}
.side{
  margin-top: 100px;
}
.side h1{
  font-size: 30px;
}
p{
  line-height: 30px;
  font-size: 18px;
}
.rape{
  display: flex;
  gap: 20px;
  flex-direction: column;
  border-color: rgba(128, 128, 128, 0.325);
}
.new-input{
  border-radius: 5px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.264);
 padding-left: 10px;
 font-size: 18px;
  height: 45px;
  width: 350px;
}
.button8{
  height: 45px;
  width: 350px;
  
  background-color: black;

}
.short{
  font-size: 15px;

}
/* menu------------------------------- */
.flex-menu {
  height: 230vh;
  width: 100%;
  background: rgba(237, 234, 225, 0.123);
  /* margin-bottom: 300px; */
}
.minbg-menu {
  background-position: center;
  background-size: cover;
position: relative;

}
.minbg-menu{

  margin-top: 30px;
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.menu-linear {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.255), rgba(0, 0, 0, 0.742));
  top: 0;
}
.menu-story {
  font-size: 70px;
  color: white;
  position: absolute;
  top: 150px;
  left: 470px;
}
.menu-story1 {
  color: white;
  position: absolute;
  top: 240px;
  left: 485px;
  font-size: 18px;
}
h1 {
  font-size: 60px;
  line-height: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  /* font-weight: 520; */
  font-weight: lighter;
  font-weight: 550;
}
.image-menu {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.image-menu img {
  height: 380px;
  width: 380px;
}
.text-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.d-menu {
  font-size: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg_color-menu {
  width: 80px;
  margin-top: 25px;
  padding: 20px 20px;
  background-color: white;
  border-radius: 20px;
}

.manage-menu {
  position: relative;
}
.combination-menu {
  display: flex;
}

.combination-menu {
  display: flex;
}
.combi1-menu {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
  padding-top: 10px;
  font-size: 22px;
  padding-left: 40px;
}
.combb-menu {
  padding-left: 10px;
}
.combb-menu img {
  margin-top: 14px;
  height: 16px;
  width: 16px;
}
.combi-1-menu {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;

  padding-top: 10px;
  font-size: 22px;
  padding-left: 40px;
}

.combi-1-menu {
  top: 4px;
  margin-left: 10px;
  font-size: 19px;
  color: gray;
}

/* Our-updates---------------------------------- */
*{
  box-sizing: border-box;
}
body{
font-family: 'myfont';
  width: 100%;
  min-height: 100vh;
  margin: 0;
}
/* .container{
height: 80px;
background-color: white;
} */
.topnav-our{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;     
  margin-right: 120px; 
}
.crispy-our{
  font-size: 25px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-weight: bolder;
  color: black;
  margin-left: 80px;
  position: absolute;
  text-decoration: none;

}

ul{
list-style: none;
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
font-size: 20px;
color: green;
background-color: white;
padding-left: 500px;
display: flex;
}
ul li {
display: inline-block;
}
ul li a{
font-size: 18px;
font-family: Verdana, Arial, Helvetica, sans-serif;
/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
text-decoration: none;
padding: 5px 10px;
color: rgba(128, 128, 128, 0.921);
display: block;
}
ul li a:hover{
color: rgb(236, 127, 127);
}
/* .head{
color: red;
} */
button{
height: 45px;
border-radius: 5px;
width: 170px;
background-color: #dc3545;
font-size: 20px;
border: none;
color: white;
}

.minbg1-our {
  margin-top: 40px;
  height: 400px;
  width: 100%;
  background: url("https://www.tooplate.com/templates/2129_crispy_kitchen/images/header/priscilla-du-preez-W3SEyZODn8U-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.overlay1{
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.255), rgba(0, 0, 0, 0.742));
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
 .kitchen-our{
  font-size: 75px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  top: 105px;
  left: 450px;

}
.kitchen-our1{
  color: white;
  position: absolute;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  top: 180px;
  left: 470px;
  font-size: 18px;

}
/* new */

.new-our{

height: 1200px;
width: 100%;
background-color: rgb(249, 246, 246);
}
.center1-our{
margin: 0;
padding: 50px 0;
font-weight: 700;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center;
padding-top: 120px;
font-size: 60px;
}


/* image */
.comm-our{
display: flex;
gap: 20px;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
/* .flex-container {
display: flex;
justify-content: center;
align-items: center;
} */

/* .flex-container a img{
width: 580px;
height: 400px;
margin-left: 20px;
margin: 10px;
text-align: center;
line-height: 75px;
font-size: 30px;
} */
/* .title{
position: absolute;

} */
/* 
.button{

position: absolute;
top: 105px;
right: 370px;
font-size: 15px;
color: white;
text-decoration: none;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button1{
text-align: center;
padding-top: 5px;
height: 30px;
width: 80px;
border-radius: 10px;
background-color: #dc3545;
position: absolute;

}
.btn{
padding-top: 5px;
padding-left: 10px;
height: 30px;
width: 80px;
background-color: #dc3545;
position: absolute;
border-radius: 10px;
top: 105px;
right: 320px;
font-size: 15px;
color: white;
text-decoration: none;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */


.news-title-link-our{
position: relative;
top: 150px;
right: 70px;
font-size: 22px;
color: white;
text-decoration: none;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .come1{
font-size: 28px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: none;
color: black;
padding-left: 140px;

}
.come2{
font-size: 28px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: none;
color: black;
padding-left: 240px;

} */
/* .content .gray{
margin-left: 140px;
margin-bottom: 18px;
}

.content_btn{
display: flex;
justify-content: space-around;
} */

.detail-box-our{
height: 400px;
width: 580px;
/* border: 1px solid; */
position: relative;
}
.detail-box-our a{
display: flex;
}
.detail-box-our img{
height: 100%;
width: 100%;
}
.title-box-our{
position: absolute;
bottom: 50px;
left: 50px;
}
.btn-1-our{
display: inline-block;
padding: 5px 10px;
height: 30px;
width: 80px;
text-align: center;
background-color: #dc3545;
border-radius: 10px;
font-size: 15px;
color: white;
text-decoration: none;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.promotion-our{
width: 90px;
}

.btn-2-our{
font-size: 22px;
color: white;
text-decoration: none;
padding-top: 10px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer{
margin-top: 140px;
height: 500px;
width: 100%;
background-image: url(https://www.tooplate.com/templates/2129_crispy_kitchen/images/daan-evers-tKN1WXrzQ3s-unsplash.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: relative;

}
.heading{
font-size: 25px;
color: white;
margin-top: 105px;
margin-left: 80px;
line-height: 50px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.location{
display: flex;  
margin-left: 80px;

}
.location-1{
display: flex;  
margin-left: 50px;
}
.heading-1{
font-size: 18px;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
/* padding-left: 8px; */
}
.heading-2{
font-size: 15px;
color: gray;
padding-left: 26px;
line-height: 20px;
}
.heading-3{
font-size: 15px;
color: gray;
line-height: 20px;

padding-left: 26px;
}
.fa-brands{
font-weight: 400px;
color: white;
}

.heading-4{
font-size: 15px;
color: gray;
padding-left: 26px;
line-height: 20px;
}
.group{
margin-left: 50px;

}
.heading-5{
font-size: 15px;
color: gray;
padding-left: 850px;
padding-top: 40px;

}


.opacity{
position: absolute;
background-image: linear-gradient(rgba(0, 0, 0, 0.164), black);

top: 0;
left: 0;
bottom: 0;
right: 0;

}
.last{
margin-left: 320px;
}
.last1{
margin-left: 200px;
}

.right{
padding-left: 850px;
margin-top: -100px;

}
.come2{

font-size: 18px;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding-left: 8px;
line-height: 20px;
}

/* contact---------------------------- */
@font-face {
  font-family: "myfont";
  src: url("./nimbussansdot-boldcond.woff") format("woff");
}

/* .container{
  height: 80px;
  background-color: white;
} */
.topnav-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-right: 120px;
}
.crispy-contact {
  font-size: 25px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-weight: bolder;
  color: black;
  margin-left: 80px;
  position: absolute;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  color: green;
  background-color: white;
  padding-left: 500px;
  display: flex;
}
ul li {
  display: inline-block;
}
ul li a {
  font-size: 18px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  text-decoration: none;
  padding: 5px 10px;
  color: rgba(128, 128, 128, 0.921);
  display: block;
}
ul li a:hover {
  color: rgb(236, 127, 127);
}
/* .head{
        color: red;
       } */
button {
  height: 45px;
  border-radius: 5px;
  width: 170px;
  background-color: #dc3545;
  font-size: 20px;
  border: none;
  color: white;
}

.minbg1-contact {
  background-position: center;
  background-size: cover;
  background: linear-gradient(white rgba(0, 0, 0, 0.418));
}
.minbg1-contact{
  margin-top: 30px;
  height: 400px;
  width: 100%;
  position: relative;
  object-fit: cover;
  object-position: center;
}

.story-linear-contact {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.255), rgba(0, 0, 0, 0.742));
}

.kitchen-story-contact {
  font-size: 60px;
  color: white;
  position: absolute;
  top: 120px;
  left: 580px;
}
.kitchen-story1-contact {
  color: white;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  top: 195px;
  left: 520px;
  font-size: 18px;
  line-height: 1;
}

.center-contact1 {
  margin: 0;
  /* padding: 50px 0; */
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 128px;
  padding-top: 120px;
  font-size: 60px;
}

/* button{
          margin-left: 200px;
         } */

.contact-week {
  width: 550px;
  /* border: 1px solid black; */
}
.contact-shift {
  display: flex;
  gap: 100px;
}
.h1-contact {
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 100px;
  line-height: 50px;
}
.p-contact {
  font-size: 20px;
  color: gray;
  margin-top: 30px;
  padding-left: 100px;
  line-height: 10px;
}
.contact-h3 {
  margin-top: 100px;
  font-size: 22px;
  margin-left: 90px;
  margin-bottom: 50px;
}
.map-contact {
  margin-left: 90px;
  margin-top: 60px;
}
.google-map {
  height: 300px;
  width: 1200px;
}
iframe {
  height: 300px;
  width: 1200px;
}

.contact-r {
  margin-left: 100px;
}
/* .contact-item{
         width: 800px;
         } */

.contact-form {
  /* border: 1px solid #ccc; */
  min-height: 450px;
  width: 600px;
  padding: 30px;
}

.row {
  display: flex;
  gap: 20px;
}
.col {
  flex: 1;
}
.form-group {
  margin-bottom: 10px;
}
.form-group label {
  display: block !important;
  font-weight: 500;
  margin-bottom: 8px !important;
  color: gray !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}
.form-group input,
.form-group textarea {
  width: 100%;
  height: 40px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  padding-left: 10px !important;
}

.form-group textarea {
  min-height: 200px !important;
}
